.hero-banner {
  background-image: url('/images/homepage-bgimg1.png');
  background-position: center;
  background-size: cover;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-content {
 
}