/* these are styles such as the header and footer styles that you'll find on almost every page of the website */
/*header {
  background-color: #d50032;
  height: 75px;
  display: flex;
  flex-direction: row;
  box-shadow: 0.5px 0.5px 7px;
  margin-bottom: 30px;
  max-width: 100%;
  overflow: hidden;
}

header.full-header {
  margin-bottom: 0;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 500px;
  max-width: 100%;
  flex-wrap: wrap;
}

.header-right button {
  font-family: Roboto, Arial;
  font-weight: 700;
  border:none;
  background-color: #d50032;
  color: white;
  padding: 9px 5px;
  font-size: 16px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  transition: 0.15;
}

.header-right div {
  width: 50px;
}

.header-right button:hover {
  font-size: 18px;
  text-shadow: 2px 2px 5px black;
}

.header-profile-button {
  height: 50px;
}
*/

header{
  padding: 10px;
  z-index: 1;
  background-color: #d50032;
  height: 75px;
  min-width: 100%;
  top: 0;
  display: flex;
  box-sizing: border-box;
}

header p {
  color: black;
}

.header-left,
.header-right,
.header-mid {
  width: 33%;
  height: 100%;
  display: flex;
}

.header-left {
  align-items: center;
}

.header-mid {
  justify-content: center;
}

.header-right {
  justify-content: right;
  align-items: center;
}

.header-left p {
  color: white;
  font-size: 18px;
  margin-left: 10px;
  text-shadow: 0.5px 0.5px 3px rgb(26, 23, 23);
}

.header-mid img,
.header-right img {
  height: 65px;
}

.header-left img {
  margin-left: 10px;
  height: 30px;
  cursor:pointer;
}

nav {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: absolute;
  min-height: 100%;
  top: 75px;
  flex-direction: column;
  background-color: white;
  width: 400px;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  z-index: 99;
}

nav.active {
  opacity: 1;
  visibility: visible;
}

nav a {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-sidebar img {
  height: 50px;
}

.nav-sidebar p {
  margin-left: 4px;
  color: black;
  text-shadow: 0.5px 0.5px 3px rgb(26, 23, 23);
  font-size: 16px;
}

nav a {
  background-color: white;
  transition: background-color 0.5s ease;
}

nav a:hover {
  background-color: #d50032;
}

.menu-click {
  transition: transform 0.5s ease;
}

.menu-click.active {
  transform: rotate(90deg);
}

#userGreeting {
  font-size: 16px;
  text-shadow: 0.5px 0.5px 3px rgb(26, 23, 23);
}


a {
  text-decoration: none;
  color: white;
}

body {
  box-sizing: border-box;
  font-family: Roboto, Arial;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(white,rgba(211, 211, 211, 0.527));
  min-height: 100vh;
}


.logo {
  height: 70px;
  cursor: pointer;
}

.logo-container {
  margin: 0;
  padding: 0;
}

.footer-img {
  display: block;
  height: 260px;
  margin: 0;
  border-radius: 250px;
}


footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-width: 1fr 1fr 1fr;
  width: 100%;

  font-family: Roboto, Arial;
  color: white;
  background-color: black;
  height: 260px;
  margin-top: 600px;
}

footer.profile-footer {
  margin-top: 0;
}

.footer-grid {
  font-size: 30px;
  font-weight: 700;
  display: flex;

}

.footer-img-container {
  padding-left: 200px;
  padding-right: 200px;
  height: 250px;
}

.resources-footer {
  padding-top: 20px;
  text-align: center;
}

.resources-footer-list,
.links-footer-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.resources-footer a, 
.links-footer a {
  color: lightgray;
  height: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}

.links-footer {
  padding-top: 20px;
  padding-left: 50px;
  text-align: center;
}
