.tip-header {
  font-size: 30px;
  font-weight: 700;
  color: #d50032;
  margin-left: 475px;
}


.tip-submission-container {
  display: flex;
  padding: 20px;
  background-color: white;
  width: 550px;
  margin: 0 auto; /* centers automatically */
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px;
}

.tip-submission-container p {
  font-size: 11px;
  text-align: center;
}

.tip-submission-container p.submission-header-text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.tip-submission-container p.input-header {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.email-and-name-container {
  padding-right: 80px;
}

.email-and-name-container, .message-and-affiliation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

}

.email-and-name-container div, .message-and-affiliation-container div {
  display: inline-block;
}

.tip-submission-container input {
  height: 20px;
}

.tip-submission-container .message-input {
  height: 120px;
  resize:none;
  font-size: 12px;
  width: 250px;
}

.button-container {
  display: flex;
  align-items: center;
}

.submission-button {
  cursor: pointer;
  background-color: #fc1e52;
  margin: 0 auto;
  padding: 14px 45px;
  border: none;
  font-weight: bold;
  box-shadow: 0px 0.5px 3px;
  transition: background-color 0.5s ease;
}

/* .submission-button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: rgba(255, 255, 255, 0.5);
  animation: ripple 0.6s linear;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
} */

.submission-button:hover {
  background-color: #d50032;
}

.tip-segment1,
.tip-segment2,
.tip-segment3,
.tip-segment4,
.tip-segment5,
.tip-segment6,
.tip-segment7 {
  display: flex;
  flex-direction: column;
  width: 810px;
  margin: 10px;
}

.tip-segmentd, .tip-segmentb {
  display: flex;
  margin-left: 10px;
  width: 800px;
  box-sizing: border-box;

}

.tip-segmentb {
  flex-wrap: wrap;
  width: 890px;
  background-image: radial-gradient(#fcfcfc, rgb(117, 117, 117));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tip-segmentd {
  background-color: rgba(128, 128, 128, 0.082);
}

.tip-segment .tip-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 15px;
  padding: 10px;
  width: 40%;
  box-shadow: 0px 0.5px 3px;
}

.tip-segment1 .tip-container {
  background-image: linear-gradient(#21f873, rgb(255, 255, 255));
}

.tip-segment2 .tip-container {
  background-image: linear-gradient(#2197f8, rgb(255, 255, 255));
}

.tip-segment3 .tip-container {
  background-image: linear-gradient(#a921f8, rgb(255, 255, 255));
}

.tip-segment4 .tip-container {
  background-image: linear-gradient(#f82173, rgb(255, 255, 255));
}

.tip-segment5 .tip-container {
  background-image: linear-gradient(#f82121, rgb(255, 255, 255));
}

.tip-segment6 .tip-container {
  background-image: linear-gradient(#f89b21, rgb(255, 255, 255));
}

.tip-segment7 .tip-container {
  background-image: linear-gradient(#b1ff1f, rgb(255, 255, 255));
}

.tip-name-and-affiliation-container {
  display: flex;
}

.dropdown-button {
  cursor: pointer;
  background-image: url('/images/dropdown-arrow-icon.jpg');
  background-size: cover;
  height: 100px;
  width: 100px;
  border: none;
  position: absolute;

  left: 800px;
}


.rotated {
  transform: rotate(180deg);
}

.tip-segmentd p {
  font-family: Roboto, Arial;
  font-size: 24px;
  padding-left: 8px;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.tip-segment1 .tip-segmentd p {
  color: #21f873;
}

.tip-segment2 .tip-segmentd p {
  color: #2197f8;
}

.tip-segment3 .tip-segmentd p {
  color: #a921f8;
}

.tip-segment4 .tip-segmentd p {
  color: #f82173;
}

.tip-segment5 .tip-segmentd p {
  color: #f82121;
}

.tip-segment6 .tip-segmentd p {
  color: #f89b21;
}

.tip-segment7 .tip-segmentd p {
  color: #b1ff1f;
}




.tip-sidebar1 {
  height: 100px;
  width: 4px;
  background-color: #21f873;
}

.tip-sidebar2 {
  height: 100px;
  width: 4px;
  background-color: #2197f8;
}

.tip-sidebar3 {
  height: 100px;
  width: 4px;
  background-color: #a921f8;
}

.tip-sidebar4 {
  height: 100px;
  width: 4px;
  background-color: #f82173;
}

.tip-sidebar5 {
  height: 100px;
  width: 4px;
  background-color: #f82121;
}

.tip-sidebar6 {
  height: 100px;
  width: 4px;
  background-color: #f89b21;
}

.tip-sidebar7 {
  height: 100px;
  width: 4px;
  background-color: #b1ff1f;
}

.subject-button {
  width: 800px;
}

.subject-button {
  height: 100px;
  background-color: transparent;
  border: none;
}